NEXTAUTH_SECRET="buraya-rastgele-uzun-bir-metin-yaz"
NEXTAUTH_URL="http://localhost:3000"

# YouTube Data API v3 anahtarı (playlist içe aktarma özelliği için).
# Google Cloud Console > APIs & Services > Credentials üzerinden ücretsiz alınır.
# https://console.cloud.google.com/apis/library/youtube.googleapis.com
YOUTUBE_API_KEY=""
